* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #66b9bf;
}

.app-logo {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.app-logo h1{
    font-family: 'Sriracha', cursive;
    font-size: 52px;
}


/* *** SignUp Page *** */

.signup-container {
    display: flex;
    flex-direction: column;
}

.signup-title {
    font-family: 'Sriracha', cursive;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-box {
    background-color: whitesmoke;
    width: 500px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 11px 17px 59px -18px rgba(0,0,0,0.55);
    display: none;
}

.signup-form {
    color: #07889B;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
}

.signup-form p{
    text-align: center;
    font-size: 16px;
}

.signup-form input {
    text-align: center;
    margin-bottom: 15px;
    padding: 4px;
    font-size: 16px;
    border-radius: 8px;
    border: .5px solid rgb(41, 41, 41)
}

.signup-form input:focus{
    border: .5px solid #FC4A1A;
    outline: none;
}
.signup-form-inner {
    padding-top: 15px;
}

.signup-btns-container{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.signup-btns-container button {
    font-family: 'Sriracha', cursive;
    margin: 0 8px;
    padding: 3px 15px;
}
.signup-btns-container button:hover {
    opacity: .6;
}
.signup-back {
    border: 1px solid #07889B;
    border-radius: 10px;
    background-color: #07889B;
}
.signup-submit {
    border: 1px solid #FC4A1A;
    border-radius: 10px;
    background-color: #FC4A1A;
    color: whitesmoke;
}

/* *** Login *** */

.google-error {
    text-align: center;
    max-width: 50%;
    padding-top: 15px;
    font-size: 10px !important;
    color: rgb(228, 0, 0);
}

/* Google Login Form */
.signup-form form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.google-signin button {
    border: none;
}