* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #66b9bf;
}

/* *** SignUp Page *** */

.signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-box {
    background-color: whitesmoke;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 11px 17px 59px -6px rgba(0,0,0,0.75);
}